
   
   .tooltip:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
     animation: up-down6 0.5s ease-in infinite alternate;
   }
   
   .tooltip {
    position: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }

   .bodix {
    display: flex;
 
    font-size: 20px;
  }
  
  .mainContainer {
    margin-top: 2%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(1, 53, 5);
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    border-radius: 15px;
    color: white;
  }
  
  .mainTitle {
    text-align: center;
    margin: 10px;
    font-size: 45px;
  }
  
  .image {
    border-radius: 15px;
    height: 350px;
    border: 3px white solid;
    box-shadow: 6px 7px 8px -6px rgba(255, 245, 245, 0.7);
  }
  
  .detailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 8px;
    border-radius: 15px;
    max-width: 80%;
    min-height: 25%;
    margin: 10px;
  }
  
  .breed_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
  }
  
  .temperament {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    width: 100%;
   
  }
  
  .life_span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
  }
  
  .weights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
  }
  
  .heights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
  }
  
  .detailsSVG {
    width: 100px;
    background-color: rgb(3, 59, 8);
    padding: 15px;
    border-radius: 15px;
  }
  
  .button {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    line-height: 2.1;
    width: 75px;
    font-size: 18px;
  }
  
  .imageSection {
    padding: 5px;
    margin: 15px;
  }
  
  .infoSection {
    padding: 5px;
    margin: 15px;
  }
  
  .xBone {
    height: 25px;
  }