ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul.pagination li {display: inline;}

ul.pagination li i {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li i.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li i:hover:not(.active) {background-color:  rgb(3, 59, 8);}